form {
  margin-bottom: 2em;
}

dt {
  float: left;
  clear: left;
  padding-right: 0.5em;
}

dd {
  clear: right;
}

.media-object {
  max-width: 120px;
}

#video-list {
  margin-bottom: 2em;
}

#video-list > .media {
  height: 10em;
}