<form role="search">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search" value="<%= search_term %>">
    <a id="search" href="#" class="input-group-addon"><span class="glyphicon glyphicon-search"></span></a>
  </div>
</form>

<div id="video-list" class="row"></div>

<p class="well well-sm">Total number of videos: <%= total_videos %></p>