<% _.each(videos, function(video){ %>
<div class="media col-12 col-sm-12 col-md-6">
  <a class="pull-left" href="<%= video.link %>" target="_blank">
    <img class="media-object" src="<%= video.thumbnail %>" alt="<%= video.title %>">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><a href="<%= video.link %>" target="_blank"><%= video.title %></a></h4>
    <dl>
      <dt>Author:</dt><dd><%= video.author %></dd>
      <dt>Duration:</dt><dd><%= video.duration %></dd>
      <dt>Uploaded:</dt><dd><%= video.uploaded %></dd>
      <dt>Views:</dt><dd><%= video.views %></dd>
    </dl>
  </div>
</div>
<% }); %>